body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  text-align: center;
}

.unix-time {
  font-size: 10vw;
  font-weight: bold;
  display: block;
  margin-bottom: 1rem;
}

.iso-time {
  margin-bottom: 0.5rem;
  font-size: 5vw;
  display: block;
  text-align: left;
}
